<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Drew</title>
    <link rel="stylesheet" href="static/css/styles-home.css">
</head>
<body>
    <footer>
        Calculadora do Andrew
    </footer>
    
    <main>
        <hr>
        <form action="/result" method="post">
            <label for="FN" class="title">Digite o Primeiro numero:</label>
            <input required type="number" placeholder="0" name="FN" id="FN" min="0" max="100000"><br><br>
            <label for="SN" class="title">Digite o Segundo numero: </label>
            <input required type="number" placeholder="0" name="SN" id="SN" min="0" max="100000"><br><br>
            <label for="OP" class="title">Selecione o Operador </label>
            <select required name="OP" id="OP">
                <option selected disabled value="">Selecione</option>
                <option value="+">+ Somar</option>
                <option value="-">- Subtrair</option>
                <option value="*">* Multiplicar</option>
                <option value="/">/ Dividir</option>

            </select><br><br>
 
            
            <input type="submit" name="botao-final" id="botao-final" value="Realizar Operação">


        </form>
        
        
    </main>

</body>
</html>